@import "tailwindcss";

@theme {
  --color-foreground-light: #000000;
  --color-foreground-dark: #ffffff;
  --color-background-start-light: rgb(214, 219, 220);
  --color-background-end-light: rgb(255, 255, 255);
  --color-background-start-dark: rgb(0, 0, 0);
  --color-background-end-dark: rgb(0, 0, 0);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
